.navigation--bar {
    display: flex;
    flex-direction: row;
    background: rgb(100, 164, 70);
    font-size: 1.5em;
    margin: 0;
    color: rgb(33, 33, 33);
    border-bottom: solid 0.6vh rgb(26, 105, 66);
    justify-content: space-between;
    font-family: 'Trispace', sans-serif;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    align-items: center;
    height: 8.8vh;
}

.logo {
    height: 8vh;
    width: auto;
    margin-left: 60px;
    cursor: pointer;
    -webkit-filter: drop-shadow(0px 0px 8px #222);
    filter: drop-shadow(0px 0px 8px #222);
}

.navigation--links {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
}

.navigation--link {
    font-weight: bold;
    margin: 10px 30px 10px 10px;
    cursor: pointer;
    color: rgb(33, 33, 33);
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
}

.navigation--link:hover {
    -webkit-transition: text-shadow 300ms ease;
    -moz-transition: text-shadow 300ms ease;
    -o-transition: text-shadow 300ms ease;
    color: rgb(169, 204, 141) !important;
    text-shadow: -1.5px 1.5px 0 rgb(26, 105, 66),
    1.5px 1.5px 0 rgb(26, 105, 66),
    1.5px -1.5px 0 rgb(26, 105, 66),
    -1.5px -1.5px 0 rgb(26, 105, 66);
}

.navigation--link:visited {
    color: unset;
}

.navigation--link:link {
    color: unset;
}

.footer {
    background: rgb(100, 164, 70);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    font-weight: bold;
    color: rgb(33, 33, 33);
    font-family: 'Trispace', sans-serif;
    min-height: 11.5vh;
    width: 100%;
    padding: 1.5vh 0 1.5vh 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: solid 0.6vh rgb(26, 105, 66);
}

.social--links {
    display: inline-block;
    width: fit-content;
    text-align: center;
}

.icon {
    cursor: pointer;
}

.icon:hover {
    filter: brightness(0) saturate(100%) invert(28%) sepia(86%) saturate(366%) hue-rotate(98deg) brightness(96%) contrast(93%);
}

.insta--icon {
    width: 6vh;
    margin: 0;
    padding: 0;
}

.dis--icon {
    width: 6vh;
    margin: 0;
    padding: 0;
}

.git--icon {
    width: 6vh;
    margin: 0;
    padding: 0;
}

.fb--icon {
    width: 6vh;
    margin: 0;
    padding: 0;
}

.printables--icon {
    width: 6.5vh;
    margin: 0;
    padding: 0;
}

.mail--icon {
    margin: 0;
    padding: 0;
    width: 6.5vh;
}

.copyright {
    margin: 0 10px;
    padding: 0;
    text-align: center;
}

.social--link {
    padding: 0;
    margin: 0 3vw;
    color: transparent;
}

.main-body {
    min-height: 59.5vh;
    margin: 8vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamburger-menu {
    z-index: 3;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.hamburger-icon {
    width: 30px;
    align-self: center;
    position: absolute;
    right: 20px;
    display: none;
}

.hamburger-navigation-links {
    display: flex;
    flex-direction: column;
    z-index: 4;
    position: absolute;
    right: 16%;
    top: 13%;
    background: RGBA(175, 175, 175, 0.5);
    border-radius: 100%;
    box-shadow: 0 0 5px 10px RGBA(175, 175, 175, 0.5);
    width: 70%;
    justify-content: center;
    align-items: center;
}

.hamburger-navigation-link {
    font-weight: bold;
    cursor: pointer;
    color: rgb(33, 33, 33);
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    padding: 14px 10px 10px 10px;
    margin: 0;
    font-size: 25px;
    width: fit-content;
    word-wrap: normal;
}

.hamburger-close-button {
    z-index: 5;
    position: absolute;
    right: 0;
    top: 0;
    margin: 30px 34px 0 0;
    font-weight: bold;
    font-size: 2rem;
    font-family: Arial, serif;
    cursor: pointer;
}

.background-blur {
    height: 100%;
    width: 100%;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    backdrop-filter: blur(4px);
    position: absolute;
    background: RGBA(255, 255, 255, 0.1);
    display: none;
}

@media only screen and (max-width: 1230px) {
    .navigation--link {
        font-size: 2vw;
        margin: 10px 20px;
    }

    .logo {
        margin-left: 4.5vw;
    }

    .navigation--links {
        width: 80vw;
    }
}

@media only screen and (max-width: 975px) {
    .navigation--link {
        font-size: 2.5vw;
        margin: 10px
    }
}

@media only screen and (max-width: 620px) {
    .navigation--links {
        display: none;
    }

    .hamburger-icon {
        display: block;
    }
}

@media only screen and (max-width: 440px) {
    .hamburger-menu > img {
        width: 90vw;
    }

    .hamburger-close-button {
        margin: 6vw 7vw 0 0;
        font-size: 8vw;
    }

    .hamburger-navigation-links {
        right: 16vw;
        top: 13vw;
    }

    .hamburger-navigation-link {
        font-size: 5.5vw;
        padding: 3.5vw 2vw 2vw 2vw;
    }
}