.navigation--bar {
    display: flex;
    flex-direction: row;
    background: rgb(100, 164, 70);
    font-size: 1.5em;
    margin: 0;
    color: rgb(33, 33, 33);
    border-bottom: solid 0.6vh rgb(26, 105, 66);
    justify-content: space-between;
    font-family: 'Trispace', sans-serif;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    align-items: center;
    min-height: 8.8vh;
}

.logo {
    width: 25%;
    margin-left: 60px;
    cursor: pointer;
    -webkit-filter: drop-shadow(0px 0px 8px #222);
    filter: drop-shadow(0px 0px 8px #222);
}

.navigation--links {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
}

.navigation--link {
    font-weight: bold;
    margin: 10px 30px 10px 10px;
    cursor: pointer;
    color: rgb(33, 33, 33);
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
}

.navigation--link:hover {
    -webkit-transition: text-shadow 300ms ease;
    -moz-transition: text-shadow 300ms ease;
    -o-transition: text-shadow 300ms ease;
    color: rgb(169, 204, 141) !important;
    text-shadow: -1.5px 1.5px 0 rgb(26, 105, 66),
    1.5px 1.5px 0 rgb(26, 105, 66),
    1.5px -1.5px 0 rgb(26, 105, 66),
    -1.5px -1.5px 0 rgb(26, 105, 66);
}

.navigation--link:visited {
    color: unset;
}

.navigation--link:link {
    color: unset;
}

.footer {
    background: rgb(100, 164, 70);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    font-weight: bold;
    color: rgb(33, 33, 33);
    font-family: 'Trispace', sans-serif;
    min-height: 11.5vh;
    width: 100%;
    padding: 1.5vh 0 1.5vh 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: solid 0.6vh rgb(26, 105, 66);
}

.social--links {
    display: inline-block;
    width: fit-content;
    text-align: center;
}

.icon {
    cursor: pointer;
}

.icon:hover {
    filter: brightness(0) saturate(100%) invert(28%) sepia(86%) saturate(366%) hue-rotate(98deg) brightness(96%) contrast(93%);
}

.insta--icon {
    width: 6vh;
    margin: 0;
    padding: 0;
}

.dis--icon {
    width: 6vh;
    margin: 0;
    padding: 0;
}

.git--icon {
    width: 6vh;
    margin: 0;
    padding: 0;
}

.fb--icon {
    width: 6vh;
    margin: 0;
    padding: 0;
}

.printables--icon {
    width: 6.5vh;
    margin: 0;
    padding: 0;
}

.mail--icon {
    margin: 0;
    padding: 0;
    width: 6.5vh;
}

.copyright {
    margin: 0 10px;
    padding: 0;
    text-align: center;
}

.social--link {
    padding: 0;
    margin: 0 3vw;
    color: transparent;
}

.main-body {
    min-height: 59.5vh;
    margin: 8vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamburger-menu {
    z-index: 1;
    width: 30px;
    align-self: center;
    position: absolute;
    right: 20px;
    display: none;
}

@media only screen and (max-width: 1230px) {
    .navigation--link {
        font-size: 2vw;
        margin: 10px 20px;
    }

    .logo {
        margin-left: 5vw;
    }

    .navigation--links {
        width: 80vw;
    }
}

@media only screen and (max-width: 975px) {
    .navigation--link {
        font-size: 2.5vw;
        margin: 10px
    }

    .logo {
        width: 12vw;
    }
}

@media only screen and (max-width: 620px) {
    .navigation--links {
        display: none;
    }

    .hamburger-menu {
        display: inline-block;
    }
}