.navigation--bar {
    display: flex;
    flex-direction: row;
    background: rgb(100, 164, 70);
    font-size: 1.5em;
    /*padding: 5px 40px 5px 5px;*/
    margin: 0;
    color: rgb(2, 8, 5);
    border-bottom: solid 0.6vh rgb(26, 105, 66);
    justify-content: space-between;
    font-family: 'Trispace', sans-serif;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    align-items: center;
    height: 8.8vh;
}

.logo {
    width: 25%;
    margin-left: 30px;
    cursor: pointer;
    -webkit-filter: drop-shadow(0px 0px 8px #222);
    filter: drop-shadow(0px 0px 8px #222);
}

.navigation--links {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.navigation--link {
    text-decoration: none;
    font-weight: bold;
    margin: 10px 30px 10px 10px;
    color:rgb(33, 33, 33);
    cursor: pointer;
}

.navigation--link:hover {
    -webkit-transition: text-shadow 300ms ease;
    -moz-transition: text-shadow 300ms ease;
    -o-transition: text-shadow 300ms ease;
    color: rgb(169, 204, 141) !important;
    text-shadow: -1.5px 1.5px 0 rgb(26, 105, 66),
    1.5px 1.5px 0 rgb(26, 105, 66),
    1.5px -1.5px 0 rgb(26, 105, 66),
    -1.5px -1.5px 0 rgb(26, 105, 66);
}

.navigation--link:visited {
    color: unset;
}

.navigation--link:link {
    color: unset;
}

.footer {
    background: rgb(100, 164, 70);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    font-weight: bold;
    color: rgb(33, 33, 33);
    font-family: 'Trispace', sans-serif;

    height: 11.5vh;
    width: 100%;
    padding: 1.5vh 0 1.5vh 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: solid 0.6vh rgb(26, 105, 66);
}

.social--links {
    display: inline-block;
    width: 60rem;
    text-align: center;
}

.icon {
    cursor: pointer;
}

.icon:hover{
    filter: brightness(0) saturate(100%) invert(28%) sepia(86%) saturate(366%) hue-rotate(98deg) brightness(96%) contrast(93%);
}

.insta--icon {
    width: 4%;
    margin: 0;
    padding: 0;
}

.dis--icon {
    width: 5%;
    margin: 0;
    padding: 0;
}

.git--icon {
    width: 4%;
    margin: 0;
    padding: 0;
}

.fb--icon {
    width: 4%;
    margin: 0;
    padding: 0;
}

.copyright {
    margin: 0;
    padding: 0;
}

.social--link {
    padding: 0;
    margin: 0 5vh 0 5vh;
    color:transparent;
}

.main-body {
    min-height: 59.5vh;
    margin: 8vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.printables--icon{
    margin:0;
    padding: 0;
    width: 4.5%;
}

.mail--icon{
    margin:0;
    padding: 0;
    width: 4%;
}