.form-failure {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.fail-message {
    color: #212121;
    font-family: inherit;
    text-align: center;
}

.fail-robot-image {
    margin: 0 auto;
    padding: 0;
    display: block;
    max-width: 230px;
    max-height: 75vh;
    width: auto;
    height: auto;
}

@media only screen and (max-width: 735px) {
    .form-failure {
        margin: 2rem auto;
        width: 80vw;
    }
}