.form-failure {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 75vh;
}

.fail-message {
    color: #212121;
    font-family: inherit;
    text-align: center;
}

.fail-robot-image {
    margin: 0 auto;
    padding: 0;
    display: block;
    max-width: 230px;
    max-height: 75vh;
    width: auto;
    height: auto;
}