body {
    margin: 0;
    font-family: 'Trispace', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: rgb(33, 33, 33);
}

@font-face {
    font-family: Quantum;
    src: local(Quantum), url(./assets/fonts/Quantum.ttf) format('truetype');
}

::-moz-selection { /* Code for Firefox */
    color: darkseagreen;
    background: rgb(26, 105, 66);
}

::selection {
    color: darkseagreen;
    background: rgb(26, 105, 66);
}