.divider {
    height: 5px;
    border: 0;
    background-color: rgba(169, 204, 141, 0.7);
    width: available;
    margin: 0;
    border-radius: 5px;
}

.form {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 125%;
}

.form-template {
    width: 60%;
    margin: 4rem auto;
    vertical-align: center;
    background: rgba(100, 164, 70, 0.75);
    border-radius: 10px;
    border: 10px solid rgba(26, 105, 66, 0.9);
    font-family: 'Trispace', sans-serif;
    display: flex;
    height: 35rem;
    font-weight: bold;
}

.contact-info {
    color: rgb(33, 33, 33);
    margin: 2rem;
    display: flex;
    flex-direction: column;
}

.email_icon {
    width: 6%;
    height: 6%;
    margin: 6px 8px 0 0;
    padding: 0;
    float: left;
}

.email_section {
    display: flex;
    margin: 0;
    padding: 0;
}

.location_icon {
    width: 5.5%;
    height: 5.5%;
    margin: 11px 8px 0 0;
    padding: 0;
    float: left;
}

.margin-5px {
    margin: 5px;
}

.two-buttons {
    display: flex;
    margin: 0;
}

.form_text {
    margin: auto;
    height: fit-content;
}

.submit {
    border-radius: 15px;
    background-color: rgb(26, 105, 66);
    color: rgb(169, 204, 141);;
    font-family: inherit;
    font-weight: inherit;
    font-size: 1.5em;
    height: fit-content;
    border: 2px solid rgb(169, 204, 141);
    padding: 0.6rem;
    margin: auto;
    cursor: pointer;
}

.input-box {
    background: rgb(169, 204, 141);
    border: 2px solid rgb(33, 33, 33);
    border-radius: 5px;

    width: 100%;
    padding: 12px 15px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    color: rgb(33, 33, 33);
    font-family: 'Trispace', sans-serif;
    font-size: 0.9em;
    overflow-x: hidden;
}

.input-box::placeholder {
    color: rgba(26, 105, 66, 0.9);
    opacity: 1; /* Firefox */
}

.input-box:-ms-input-placeholder{
    color: rgba(26, 105, 66, 0.9);
}

.input-box::-ms-input-placeholder {
    color: rgba(26, 105, 66, 0.9);
}

.input-label {
    font-weight: bold;
    color: #222222;
}

.input-box:focus {
    outline: none !important;
    box-shadow: -2px 2px 0 rgb(26, 105, 66),
    2px 2px 0 rgb(26, 105, 66),
    2px -2px 0 rgb(26, 105, 66),
    -2px -2px 0 rgb(26, 105, 66);
}

.maps-link {
    color: rgba(169, 204, 141);
    text-decoration: none;
    margin: 0 0 0 5px;
}

.maps-link:hover {
    text-decoration: underline;
}

.message {
    height: 9rem;
    word-wrap: normal;
    resize: none;
}