.sponsors-list {
    margin: 10px;
}

.logo-section {
    display: inline-flex;
    margin: 0 auto;
    flex-wrap: wrap;
}

.sponsors-logo {
    display: block;
    height: 15vh;
    width: auto;
    border-radius: 5px;
    border: 5px solid RGB(169, 204, 141);
    background: RGB(169, 204, 141);
    margin: 5px;
}

@media only screen and (max-width: 420px) {
    .sponsors-logo {
        width: 75vw;
        height: auto
    }
}